.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.thumbnail {
    width: 200px;
    height: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000000d2;
}

#modal-image {
    display: block;
    max-width: 80%;
    max-height: 80%;
    margin: auto;
    margin-top: 10%;
}

.close {
    color: #ffffff;
    font-size: 70px;
    font-weight: bold;
    position: absolute;
    top: 80px;
    right: 40px;
    cursor: pointer;
}
