.sidebar {
    background-color: #222222;
    padding: 20px;
    display: flexbox;
    flex-direction: row;
    font-size: 24px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    color: #ffffff;
}

.menu {
    display: flex;
    height: 30px;
    margin-left: 10px;
}

.menu p {
    padding-left: 5px;
    color: #ffffff;
}

header {
    background-color: #ffffff;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
}

nav {
    height: 30px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

nav p {
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: normal;
    transition: all 0.3s;
}

nav ul li a:hover {
    font-weight: bold;
    font-size: 105%;
    color: #ffffff;
}